body {
  font-family: 'Lato', sans-serif;
  background: rgb(23, 32, 46) !important;
}

nav a img {
  width: 40px; 
}

.logo {
  font-family: 'Cantarell', sans-serif;
  font-size: 25px !important;
  font-weight: 900;
  font-style: italic;
}

.logo-header {
  font-family: 'Cantarell', sans-serif;
  font-size: 75px !important;
  color: white;
  padding: 60px;
  font-weight: 900;
  font-style: italic;
}

.logo-small{
  font-family: 'Cantarell', sans-serif;
  font-size: 16px !important;
  color: white;
  font-weight: 900;
  font-style: italic;
}

.dropdown-menu .dropdown-item{ 
  font-weight: initial;
  font-style: initial;
 }

.chart-container{
  background-color:rgb(32, 42, 59) 
}

.card-header {
  color: yellow;
}

.h2{
  color: yellow;
}
.card{
  color: yellow;
}

.dark-text {
  color: rgb(67, 68, 86);
}

.card-text .text-muted{
  color: rgb(255, 255, 255) !important;
}
  
.dark-text-light {
  color: rgb(128, 145, 171);
}
  
.light-text {
  color: rgb(255, 255, 255);
}

.card-dark {
  background: rgb(32, 42, 59) !important;
}
  
.map-card{
  height:350px;
  max-height: 350px;
}
  
.navbar {
  
  background:linear-gradient(to right, red , yellow);
  color:white !important;
}

.navbar-light .navbar-nav .nav-link {
  color:black !important;
}
  
.navitem {
  color:white !important;
}

.dropdown{
  padding-top: 15px;
  padding-bottom: 15px;
}

.container-fluid {
  width: 90% !important;
}

.font-weight-700{
  font-weight: 700;
}

.card-body img {
  width: 45px;  
}


.left-space{
  margin-left: 40px !important;
}

@media (min-width:576px){
  .custom-card-deck .card:last-child{
      margin-right: 15px !important;
  }
}
@media (max-width:768px){
  .navbar-brand{
      width:100%;
      text-align: center;
      font-size: 1.1rem;
      white-space: normal;
  }
}
@media (max-width:575px){
  .mt-xs-4 {
      margin-top: 2rem !important;
  }
  .mb-xs-4 {
      margin-bottom: 2rem !important;
  }
}